@use 'variables.scss' as base;

.form-control-container {
    width: 100%;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .form-control-input {
        position: relative;
        border-radius: 6px;
        transition: all 0.25s;
        background: var(--background-primary-color);
        border: 1px solid var(--border-primary-color);
        @include base.flexContainer(row, flex-start, center);

        &.lowercase-presentation {
            input {
                text-transform: lowercase !important;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type='number'] {
            -moz-appearance: textfield;
        }

        input {
            height: 46px;
            overflow: hidden;
            padding: 16px 12px 12px;
            color: var(--text-primary-color);
        }

        textarea {
            resize: none;
            height: 90px;
            overflow-y: auto;
            min-height: 48px;
            max-height: 300px;
            overflow-x: hidden;
            position: relative;
            line-height: 1.5rem;
            padding: 26px 15px 7px;
            color: var(--text-primary-color);
        }

        .form-control-label {
            width: 100%;
            display: block;
            font-size: 12px;
            user-select: none;
            white-space: nowrap;
            color: var(--text-secondary-color);
            font-weight: base.$medium-typeface;

            overflow: hidden;
            pointer-events: none;
            letter-spacing: 0.75px;
            text-overflow: ellipsis;
            @include base.flexContainer(row, flex-start, center);

            .label-counter {
                margin-left: auto;
                margin-right: 16px;
                transition: color 0.25s;

                &.count-limit-reached {
                    color: var(--brand-primary-color);
                }
            }

            .label-title {
                margin-left: 6px;
            }

            .label-title,
            .label-counter {
                padding: 0 6px;
                background: var(--background-primary-color);
            }
        }

        input,
        textarea {
            z-index: 50;
            width: 100%;
            border: none;
            outline: none;
            font-size: 15px;
            border-radius: 6px;
            white-space: pre-wrap;
            background: transparent;

            &::placeholder {
                color: var(--text-secondary-color);
                opacity: 0.7;
            }
        }

        &.valid-input-state {
            border-color: var(--text-primary-color);
        }

        &.form-error {
            border-color: var(--error-primary-color);
        }
    }

    .form-control-footer {
        font-size: 0.75rem;
        min-height: 18px;
        padding-left: 8px;
        padding-right: 5px;
        margin: 2px 0 4px 0;
        @include base.flexContainer(row, flex-start, center);

        .input-description {
            color: var(--text-secondary-color);
        }

        .input-error {
            line-height: 16px;
            color: var(--error-primary-color);
        }
    }
}
