<li class="task-entry">
    <div class="task-table-entry-cell cell-title">
        <button type="button" class="task-manager-checkbox" (click)="onToggleTaskCheckbox()">
            <app-tabler-icon-renderer selector="square"></app-tabler-icon-renderer>
        </button>
        <div class="task-manager-title">
            Task title number here.
        </div>
    </div>

    <div class="task-table-entry-cell cell-option">
        <app-tabler-icon-renderer selector="flag-3"></app-tabler-icon-renderer>
    </div>
    <div class="task-table-entry-cell cell-option">
        <div class="task-status-pill progress">
            <span>In Progress</span>
        </div>
    </div>
    <div class="task-table-entry-cell cell-option">
        <button type="button" class="edit-task-button" (click)="onEditTask()">
            <app-tabler-icon-renderer selector="pencil"></app-tabler-icon-renderer>
        </button>
    </div>
</li>