@use 'variables.scss' as base;

.task-entry {
    height: 46px;
    border-radius: 6px;
    background: var(--background-primary-color);
    border: 1px solid var(--border-primary-color);

    &,
    .task-table-header {
        width: 100%;
        position: relative;
        @include base.flexContainer(row, flex-start, center);
    }

    .task-table-header {
        height: 40px;
    }

    .task-manager-options {
        @include base.flexContainer(row, flex-start, center);
    }

    .task-table-header-cell {
        font-size: 12px;
        line-height: 16px;
        position: relative;
        text-transform: uppercase;
        color: var(--text-secondary-color);
    }

    .task-table-entry-cell {
        font-size: 14px;
        line-height: 20px;
        position: relative;
        color: var(--text-primary-color);
    }

    .cell-title {
        width: 100%;
        padding-left: 16px;
        @include base.flexContainer(row, flex-start, center);
    }

    .cell-option {
        width: 140px;
        flex-shrink: 0;
        @include base.flexContainer(row, center, center);
    }

    app-tabler-icon-renderer {
        width: 20px;
        height: 20px;
    }

    .task-manager-title {
        margin-left: 10px;
    }

    .task-status-pill {
        font-size: 13px;
        height: 30px;
        min-width: 80px;
        color: #ffffff;
        padding: 0 12px;
        line-height: 20px;
        border-radius: 16px;
        font-weight: base.$medium-typeface;
        @include base.flexContainer(row, center, center);

        &.progress {
            background: #1e90ff;
        }

        &.todo {
            background: #ff6348;
        }

        &.done {
            background: #2ed573;
        }
    }

    .edit-task-button,
    .task-manager-checkbox {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
    }

    .task-priority {
        outline: none;
        border: none;
        cursor: pointer;
        background: none;

        &.normal {
            color: #4b7bec;
        }

        &.high {
            color: #fa8231;
        }

        &.urgent {
            color: #eb3b5a;
        }

        &.low {
            color: #20bf6b;
        }
    }
}
