<div class="auth-form-wrapper">
    <div class="authentication-header">
        <div class="auth-title margin-bottom-10">Hi 👋, welcome to Tasky</div>
        <div class="auth-description">Let's create your Tasky account and start building.</div>
    </div>

    <form
        autocomplete="off"
        class="authentication-form-wrapper"
        [ngClass]="{ 'disabled-content': hasRegistrationEvent }"
    >
        <div class="form-control-field">
            <app-form-input-control
                type="text"
                label="Name"
                [required]="true"
                [control]="nameFormControl"
                placeholder="For example - John Doe"
                [minCharacters]="1"
                [maxCharacters]="USER_NAME_LIMIT"
            ></app-form-input-control>
        </div>

        <div class="form-control-field">
            <app-form-input-control
                type="email"
                label="Email"
                [required]="true"
                [minCharacters]="1"
                [control]="emailFormControl"
                placeholder="For example - johndoe@gmail.com"
            ></app-form-input-control>
        </div>

        <div class="form-control-field">
            <app-form-input-control
                type="password"
                label="Password"
                [required]="true"
                [control]="passwordFormControl"
                [minCharacters]="PASSWORD_MIN_CHARACTERS"
                [maxCharacters]="PASSWORD_MAX_CHARACTERS"
                placeholder="Enter your account password"
            ></app-form-input-control>
        </div>

        <div class="authentication-button-wrapper" [ngClass]="{ 'disabled-content': hasRegistrationEvent }">
            <button type="button" class="button button-primary" (click)="onRegisterUser()">
                <span>{{ hasRegistrationEvent ? 'Please wait' : 'Create Account' }}</span>
                <app-button-loader
                    class="animate__animated animate__fadeIn"
                    *ngIf="hasRegistrationEvent"
                ></app-button-loader>
            </button>
        </div>
    </form>
</div>
