<div class="task-manager-container">
    <div class="task-manager-content">
        <div class="task-manager-table">
            <div class="task-table-header">
                <div class="task-table-header-cell cell-title">
                    3 Tasks
                </div>
                <div class="task-table-header-cell cell-option">
                    Priority
                </div>
                <div class="task-table-header-cell cell-option">
                    Status
                </div>
                <div class="task-table-header-cell cell-option">
                    edit
                </div>
            </div>
        </div>

        <div class="task-table-body">
            <ul class="task-table-entries">
                <app-task-entry-cell></app-task-entry-cell>
            </ul>
        </div>
    </div>
</div>