<nav class="dashboard-nav">
    <div class="dashboard-nav-wrapper container">
        <div class="dashboard-nav-logo">
            <img src="../../../../assets/img/tasky_logo.png" alt="Tasky Logo">
        </div>

        <div class="dashboard-nav-options">
            <div class="dashboard-nav-option-cell">
                <button type="button" class="button button-primary" (click)="onCreateTask()">
                    <app-tabler-icon-renderer selector="plus"></app-tabler-icon-renderer>
                    <span>Add Task</span>
                </button>
            </div>
        </div>
    </div>
</nav>